[submodule "hw-01/dependencies/xxHash"]
	path = hw-01/dependencies/xxHash
	url = git@github.com:Cyan4973/xxHash.git
[submodule "hw-01/dependencies/smhasher"]
	path = hw-01/dependencies/smhasher
	url = git@github.com:aappleby/smhasher.git
[submodule "hw-01/dependencies/matplotlibcpp"]
	path = hw-01/dependencies/matplotlibcpp
	url = git@github.com:lava/matplotlib-cpp
[submodule "hw-02/dependencies/zstd"]
	path = hw-02/dependencies/zstd
	url = git@github.com:facebook/zstd
[submodule "hw-02/dependencies/lz4"]
	path = hw-02/dependencies/lz4
	url = git@github.com:lz4/lz4
